.navbar{
    padding-left: 70%;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7273503151260504) 50%, rgba(252,176,69,1) 100%);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.citySearch {
    margin: 10px;
    font-size: 23px;
    font-weight: bold;
}

.btn-primary {
    background: orange;
    border: none;
}

.card {
    margin-left: 10px;
}